* {
    margin: 0;
    padding: 0;
}

body {
    width: 2000px;
    height: 2000px;
    background-color: #eee;
}

#map {

    margin-top: 85px;
    margin-right: 18px;
    position: fixed;
    width: 600px;
    height: 220px;
    bottom:-570px;
    left:50px;
    z-index:99;
     opacity:99;
}

#container {
    position: relative;
    left: 100px;
    top: 100px;
    width: 2000px;
    height: 1000px;
    outline: 4px solid #222;
    overflow: auto;
}




